# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Asset meta files (keep them, Unity needs .meta files!)
# sadece Library/ içindekiler ignore ediliyor

# =============== #
# OS generated    #
# =============== #
.DS_Store
Thumbs.db

# =============== #
# IDE & Editors   #
# =============== #
.vs/
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp

# =============== #
# Unity Projects  #
# =============== #
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# =============== #
# Build files     #
# =============== #
*.exe
*.apk
*.aab
*.unitypackage
*.app
*.dll
*.zip

# =============== #
# Crash Reports   #
# =============== #
sysinfo.txt
crashlytics-build.properties

# =============== #
# Addressables    #
# =============== #
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# =============== #
# StreamingAssets #
# =============== #
[Aa]ssets/[Ss]treamingAssets/aa*
